################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/proyectosicxe.projects.v7.bin
/.vs/ProjectEvaluation/proyectosicxe.metadata.v7.bin
/ProyectoSICXE/bin/Debug/net8.0/appsettings.Development.json
/ProyectoSICXE/bin/Debug/net8.0/appsettings.json
/ProyectoSICXE/bin/Debug/net8.0/ProyectoSICXE.deps.json
/ProyectoSICXE/bin/Debug/net8.0/ProyectoSICXE.dll
/ProyectoSICXE/bin/Debug/net8.0/ProyectoSICXE.exe
/ProyectoSICXE/bin/Debug/net8.0/ProyectoSICXE.pdb
/ProyectoSICXE/bin/Debug/net8.0/ProyectoSICXE.runtimeconfig.json
/ProyectoSICXE/bin/Debug/net8.0/ProyectoSICXE.staticwebassets.runtime.json
/ProyectoSICXE/obj/Debug/net8.0/ref/ProyectoSICXE.dll
/ProyectoSICXE/obj/Debug/net8.0/refint/ProyectoSICXE.dll
/ProyectoSICXE/obj/Debug/net8.0/scopedcss/bundle/ProyectoSICXE.styles.css
/ProyectoSICXE/obj/Debug/net8.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/ProyectoSICXE/obj/Debug/net8.0/scopedcss/projectbundle/ProyectoSICXE.bundle.scp.css
/ProyectoSICXE/obj/Debug/net8.0/staticwebassets/msbuild.build.ProyectoSICXE.props
/ProyectoSICXE/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.ProyectoSICXE.props
/ProyectoSICXE/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.ProyectoSICXE.props
/ProyectoSICXE/obj/Debug/net8.0/staticwebassets/msbuild.ProyectoSICXE.Microsoft.AspNetCore.StaticWebAssets.props
/ProyectoSICXE/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ProyectoSICXE/obj/Debug/net8.0/apphost.exe
/ProyectoSICXE/obj/Debug/net8.0/ProyectoSICXE.AssemblyInfo.cs
/ProyectoSICXE/obj/Debug/net8.0/ProyectoSICXE.AssemblyInfoInputs.cache
/ProyectoSICXE/obj/Debug/net8.0/ProyectoSICXE.assets.cache
/ProyectoSICXE/obj/Debug/net8.0/ProyectoSICXE.csproj.BuildWithSkipAnalyzers
/ProyectoSICXE/obj/Debug/net8.0/ProyectoSICXE.csproj.CoreCompileInputs.cache
/ProyectoSICXE/obj/Debug/net8.0/ProyectoSICXE.csproj.FileListAbsolute.txt
/ProyectoSICXE/obj/Debug/net8.0/ProyectoSICXE.dll
/ProyectoSICXE/obj/Debug/net8.0/ProyectoSICXE.GeneratedMSBuildEditorConfig.editorconfig
/ProyectoSICXE/obj/Debug/net8.0/ProyectoSICXE.genruntimeconfig.cache
/ProyectoSICXE/obj/Debug/net8.0/ProyectoSICXE.GlobalUsings.g.cs
/ProyectoSICXE/obj/Debug/net8.0/ProyectoSICXE.MvcApplicationPartsAssemblyInfo.cache
/ProyectoSICXE/obj/Debug/net8.0/ProyectoSICXE.pdb
/ProyectoSICXE/obj/Debug/net8.0/ProyectoSICXE.RazorAssemblyInfo.cache
/ProyectoSICXE/obj/Debug/net8.0/ProyectoSICXE.RazorAssemblyInfo.cs
/ProyectoSICXE/obj/Debug/net8.0/staticwebassets.build.json
/ProyectoSICXE/obj/Debug/net8.0/staticwebassets.development.json
/ProyectoSICXE/obj/Debug/net8.0/staticwebassets.pack.json
/ProyectoSICXE/obj/project.assets.json
/ProyectoSICXE/obj/project.nuget.cache
/ProyectoSICXE/obj/ProyectoSICXE.csproj.nuget.dgspec.json
/ProyectoSICXE/obj/ProyectoSICXE.csproj.nuget.g.props
/ProyectoSICXE/obj/ProyectoSICXE.csproj.nuget.g.targets
/.vs/ProyectoSICXE/v17/DocumentLayout.json
/.vs/ProyectoSICXE/v17/.suo
/.vs/ProyectoSICXE/v17/.futdcache.v2
/.vs/ProyectoSICXE/DesignTimeBuild/.dtbcache.v2
/.vs/ProyectoSICXE/config/applicationhost.config
*.vsidx
/ProyectoSICXE/obj/Debug/net8.0/ProyectoSICXE.sourcelink.json
/ProyectoSICXE/obj/Debug/net8.0/project.razor.vs.bin
